.container{
  padding: 1rem 2rem;

  .head_weather{
    display: flex;
    flex-direction: column;

     form{
      display: flex;
      gap: 1rem;

       h3{
        color: tomato;
       }
     }
  }

}

